* {
    box-sizing: border-box;
}

.logo-box {
    width: 60px;
    height: 60px;
}

.logo-box img {
    width: 100%;
    height: 100%;  
}

.burger-box {
    height: 20px;
    width: 30px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}

.burger-box div {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu-flex ul {
    
    padding: 0;
    list-style: none;
    gap: 20px;
    margin: 0;
    display: flex;
}

.menu-flex nav a {
color: #af5151;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-weight: bold;

}



.menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (min-width:768px) {
    .burger-box{display: none;}
}

@media (max-width:768px) {
    .mobile-menu{ 
    display: flex;       
    padding: 14px 16px;
    flex-direction: column; 
    position: absolute;
    background:#d0a824;
    width: 100%;
    top: 0;
    left: 0;
    transition: .4s;
    transform: translate(-100%, 55px);   
    }
    .mobile-menu.show{  
    transform: translate(0, 55px);
    }

    .mobile-menu a:hover {
        background-color: #ddd;
        color: black;
      }
}
